@mixin divider {
    width: 100%;
    height: 1px;
    background: #FFFFFF;
}
@mixin circle {
    position: absolute;
    content: '';
    width: 9px;
    height: 9px;
    border-radius: 100%;
    background: #E9B730;
    margin-top: 10px;
    left: 0;
}
@mixin background {
    background-repeat: no-repeat, no-repeat;
    background-size: cover, cover;
    background-position: center center;
}