@import 'libs/bootstrap-reboot.min';
@import '../fonts/stylesheet.css';

@import 'base/variables';
@import 'base/mixins';



* {
    font-family: 'Larsseit';
    margin: 0;
    padding: 0;
}

@import 'blocks/promo';
@import 'blocks/whyThrive';
@import 'blocks/aboutUs';
@import 'blocks/list';
@import 'blocks/infoCards';
@import 'blocks/shouldKnow';
@import 'blocks/ctaBlocks';
@import 'blocks/contactUs';
@import 'blocks/footer';
@import 'blocks/modal';
@import 'blocks/media';