.shouldKnow {
    &__img {
        background: url('../../img/YouShouldAlsoKnow_img.png') center (center/cover) no-repeat;
    }
    &__title {
        color: #22356F;
    }
    &__paragraph {
        font-weight: 700;
        line-height: 45px;
        letter-spacing: -0.01em;
        color: #22356F;
        span {
            color: #6CD3E1;
        }
    }
    &__btn {
        color: #FAB63E;
    }
}